/*
Running VS Code Live compiler

v1.4 
Changelog:

    - Dark Mode Fix
    - Gulp update (Sass)
    - Payment Options


============================================================================================================
Table of Contents
============================================================================================================

  Sass_Stuff

      Animations
      Variables
      Functions
      Mixins

  Fonts

  Animation

  Accesibility

  Universal

  Buttons

  Pop_up

  Navigating

  Ocean

  Company_info

  Messaging

  Copyright

  Responsiveness

*/

/*

============================================================================================================
Sass_Stuff
============================================================================================================

*/

@use "sass:math";

/* 
Animations-----------------------------------------------------------------------------------------
*/

$time-m: 300ms;
$time-l: 400ms;
$time-xl: 500ms;

/* 

Variables-----------------------------------------------------------------------------------------

*/

$btn_colour: hsl(210, 100%, 40%);
// $btn_colour: #007dd6;
$btn_colour-hover: hsl(210, 100%, 18%);
$close_colour: hsl(0, 100%, 40%);
$tagline_colour: hsl(33, 100%, 93%);
$dark_leaf: hsl(111, 80%, 25%);
// $light_leaf: #2aac13;
// $dark_leaf: #1c730d;
// $dark_leaf: #114508;
// $dark_leaf: hsl(111, 80%, 15%);
$dark_leaf-rgba: hsla(111, 80%, 25%, 1);
$dark_leaf-rgba: hsla(111, 80%, 25%, 1);
$darker_leaf: hsl(111, 90%, 8%);
// $darker_leaf: #082702;
$darkest_leaf: hsl(111, 90%, 7.5%);

/* $chunk_background: linear-gradient(
  -20deg,
  rgba(255, 255, 255, 0.55) 25%,
  rgb(255, 255, 255) 100%
) !important; */

/* 

Functions-----------------------------------------------------------------------------------------

*/

$html-font-size: 16px;

@function rem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

// Mixins-----------------------------------------------------------------------------------------

@mixin transition($t-timer) {
  -webkit-transition: all $t-timer ease-in-out;
  -moz-transition: all $t-timer ease-in-out;
  -ms-transition: all $t-timer ease-in-out;
  transition: all $t-timer ease-in-out;
}

$nav-colour: rgba(255, 255, 255, 0.5);

@mixin nav-colour {
  background: -moz-linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.5) 15%,
    rgba(255, 255, 255, 0.85) 70%
  ) !important;
  background: -webkit-linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.5) 15%,
    rgba(255, 255, 255, 0.85) 70%
  ) !important;
  background: linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.5) 15%,
    rgba(255, 255, 255, 0.85) 70%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffd9', endColorstr='#fffffff2', GradientType=1) !important;
}

$nav-colour-plus: linear-gradient(
  -20deg,
  rgba(255, 255, 255, 0.85) 25%,
  rgba(255, 255, 255, 0.95) 70%
) !important;

@mixin nav-colour_plus {
  background: -moz-linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.8) 15%,
    rgba(255, 255, 255, 0.95) 70%
  ) !important;
  background: -webkit-linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0.95) 70%
  ) !important;
  background: linear-gradient(
    -20deg,
    rgba(255, 255, 255, 0.8) 15%,
    rgba(255, 255, 255, 0.95) 70%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffd9', endColorstr='#fffffff2', GradientType=1) !important;
}

$chunk-radius-xl: rem(14px);

@mixin chunk-styling {
  border-radius: 0 0 $chunk-radius-xl $chunk-radius-xl;
  box-shadow: rem(24px) rem(32px) rem(40px) rgba(0, 0, 0, 0.1);
  // background: linear-gradient(
  //   -20deg,
  //   rgba(255, 255, 255, 0.65) 25%,
  //   rgb(255, 255, 255) 100%
  // ) !important;
}

@mixin chunk {
  // padding: rem(40px) rem(90px) 0 !important;
  @include chunk-styling;
}

@mixin chunk-md {
  // padding: rem(30px) rem(50px) 0 !important;
  @include chunk-styling;
}

@mixin snd-fail_animate {
  -webkit-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

/*

============================================================================================================
Fonts x Typography
============================================================================================================

*/

$html-font-size: 16px;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

h1,
h2,
h3,
.tatwc-nav,
.tatwc-nav-btn,
.scrl-dwn,
.tatwc-tagline,
.btn,
.hb_label,
.linchpin,
.kid_cudi span,
.kid_cudi label,
.ldn-wait p,
.pymnt-complete b,
.pymnt_inf button,
.cookieinfo-close {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 700 !important;
}

.consent-details,
.consent-check_txt,
.tatwc-copy,
.tatwc-quote,
.tatwc-quote-by,
.tatwc-about-copy,
.tatwc-services-copy,
input,
textarea,
select,
option,
p,
.ref_inf {
  font-family: "Poppins", sans-serif !important;
}

.tatwc-quote-by {
  font-weight: 600 !important;
}


.scrl-dwn label {
  color: rgba(255, 255, 255, 0.5);
  text-transform: lowercase;
}

h1,
h2 {
  text-transform: uppercase;
  text-shadow: rem(3px) rem(4px) rem(3px) rgba(0, 0, 0, 0.15);
  opacity: 0.95;
}

h3,
.pymnt-complete {
  text-transform: uppercase;
  opacity: 0.95;
}

.tatwc-chunk-title h1,
h2 {
  // text-shadow: none !important;
  font-weight: 700 !important;
}

.tatwc-tagline {
  font-weight: 700 !important;
}

.btn {
  text-transform: uppercase;
}

/*

============================================================================================================
Animation
============================================================================================================

*/

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

svg .wheel {
  animation: scroll ease 2s infinite;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes harlemshake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-8px);
  }

  30% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(2px);
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.6);
    opacity: 1;
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}

/*

============================================================================================================
Accessibility
============================================================================================================

*/

*:focus {
  outline: 2px dashed hsla(0, 0%, 0%, 0.5) !important;
}

.nav-link:focus {
  outline: 2px dashed hsla(0, 0%, 100%, 0.5) !important;
}

/*

============================================================================================================
Universal
============================================================================================================

*/

body {
  width: 100%;
  height: 100%;
  clear: both;
}

html,
#toggle,
.dark {
  @include transition($time-l);
}

.cookieinfo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: rem(70px);
  // padding-top: 20px !important;
  opacity: 0.97;
}

.cookieinfo-close {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: hsla(100, 100%, 45%, 0.75) !important;
  color: #fff !important;
  text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.45);
  text-transform: uppercase;
  height: 100%;
  padding: rem(12px) rem(25px) !important;
  margin-left: 25px !important;
  font-size: rem(12px);
  // margin-top: -7px !important;
  letter-spacing: 0.1em;
  border-radius: 2px !important;
  align-self: flex-end;
  @include transition($time-l);
}

.cookieinfo-close:hover {
  background: hsl(100, 100%, 5%) !important;
  // color: #fff !important;
}

.tatwc-fluid {
  position: relative;
  height: 100vh;
  z-index: 0;
}

.tatwc-fluid-content {
  position: relative;
}

.tatwc-backdrop {
  position: relative;
  height: rem(580px);
  width: 100%;
  margin-top: rem(-95px);
  z-index: 9999 !important;
  box-shadow: inset 0 rem(-16px) rem(32px) rgba(0, 0, 0, 0.15);
}

.ptn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(60px);
  background: url("../img/ptn.webp");
  mix-blend-mode: overlay;
  z-index: 10;
  opacity: 0.55;
}

.tatwc-intro,
.tatwc-chunk-title,
.tatwc-msg,
.tatwc-footer {
  position: relative;
  z-index: 600 !important;
}

/*

============================================================================================================
Buttons
============================================================================================================

*/

$btn_height-xl: rem(80px);

.btn {
  border: 0;
  border-radius: rem(4px);
  background: $btn_colour;
  color: #fff;
  cursor: pointer;
  @include transition($time-m);
}

.btn:disabled {
  background: #ccc !important;
  cursor: not-allowed;
}

.btn:hover {
  background: $btn_colour-hover;
  @include transition($time-m);
}

/*

============================================================================================================
Pop_up
============================================================================================================

*/

.modal {
  background: hsla(0, 0%, 0%, 0.4) !important;
}

.modal-dialog {
  max-width: rem(620px) !important;
  opacity: 1 !important;
}

.modal-content {
  padding: 0;
  border-radius: rem(10px) !important;
  @include nav-colour;
  opacity: 1 !important;
  background: none !important;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: $close_colour !important;
  color: #fff !important;
  padding: rem(15px) rem(20px) !important;
  border-radius: 50%;
  opacity: 1 !important;
  z-index: 9999;
  @include transition($time-m);
}

.close i {
  text-shadow: rem(2px) rem(4px) rem(3px) rgba(0, 0, 0, 0.25) !important;
}

.close:hover {
  background: hsl(0, 100%, 20%) !important;
}

.modal-header {
  background: linear-gradient(
    140deg,
    lighten($dark_leaf, 25),
    $dark_leaf 100%
  ) !important;
  padding: rem(35px) rem(30px) rem(30px) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  z-index: 9999;
}

.modal-header h2 {
  color: #fff !important;
  text-align: center;
  width: 100%;
}

.modal-body {
  height: rem(480px);
  line-height: rem(32px);
  padding: rem(20px) rem(40px) !important;
  overflow-y: scroll;
  border: none;
  box-shadow: inset 0 -16px 32px hsla(0, 0%, 0%, 0.15);
  opacity: 1 !important;
}

.treatments li {
  text-indent: 10px;
}

.modal-footer {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  border-radius: 0 0 rem(10px) rem(10px) !important;
  opacity: 1 !important;
  width: 100%;
  margin-left: 0 !important;
  padding: 0 !important;
}

.consent-check input[type="checkbox"] {
  margin: 0 !important;
}

.btn-consent {
  background-color: $btn_colour !important;
  color: #fff !important;
  border-radius: 0 0 rem(10px) rem(10px) !important;
  @include transition($time-l);
}

.btn-consent:hover {
  background-color: $btn_colour-hover !important;
}

.booking_window {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: hsla(0, 0%, 0%, 0.4);
  z-index: 9997;
}

.booking_close {
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}

$bookings_height_xl: 820px;

.booking_box {
  visibility: hidden;
  width: 700px;
  height: $bookings_height_xl;
  background: #ccc;
  border-radius: 10px;
  z-index: 9999;
}

.ms-wrapper {
  height: $bookings_height_xl;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.ms-booking iframe {
  width: 100%;
  height: $bookings_height_xl;
}

.booking_active {
  visibility: visible;
}

.blur_fx {
  filter: blur(2px);
}

.payment_option {
  position: absolute;
  width: 100%;
  height: 50px;
  background: red;
  z-index: 9999;
}

/*

============================================================================================================
Navigating
============================================================================================================

*/

$nav-padding: 45px;
$nav-height: #{$nav-padding * 2 - 5px};

.tatwc-nav {
  z-index: 50;
  text-transform: uppercase;
  position: relative;
  height: auto;
  color: rgba(255, 255, 255, 0.45);
  padding: 0 $nav-padding !important;
}

.tatwc-nav_dark {
  z-index: 50;
  text-transform: uppercase;
  position: relative;
  height: auto;
  padding: 0 $nav-padding !important;
}

.tatwc-nav-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  height: rem(60px);
  z-index: 999;
  outline: none !important;
}

.hb_ico {
  position: absolute;
  top: 22px;
  right: 0;
  width: rem(90px);
}

.hb_label {
  position: absolute;
  align-items: center;
  top: 30px;
  right: 10px;
  // height: 100%;
  text-shadow: rem(3px) rem(4px) rem(3px) rgba(0, 0, 0, 0.15);
}

.tatwc-nav li a {
  padding: rem(25px) rem(35px);
}

.tatwc-nav_dark li a {
  padding: rem(25px) rem(35px);
}

.tatwc-nav li a:hover,
.nav-active {
  color: rgb(255, 255, 255);
}

.tatwc-nav_dark li a:hover {
  color: hsla(0, 0%, 100%, 0.55);
  @include transition($time-m);
}

.fade_to-white {
  @include nav-colour_plus;
}

.tatwc-menu-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

$border_nav_px: 2px;

.tatwc-menu-items li {
  @include transition($time-m);
  border-bottom: $border_nav_px solid rgba(0, 0, 0, 0);
}

.tatwc-menu-items li:hover,
.nav-active {
  border-bottom: $border_nav_px solid rgba(255, 255, 255, 0.85);
  @include transition($time-m);
}

.nav-active {
  border-bottom: $border_nav_px solid rgba(255, 255, 255, 0.75) !important;
}

.tatwc-nav_dark .tatwc-menu-items li:hover,
.tatwc-nav_dark .nav-active {
  border-bottom: $border_nav_px solid hsla(0, 0%, 100%, 0.85) !important;
}

.nav-active_bug_fix {
  margin-bottom: -$border_nav_px;
}

/*

============================================================================================================
Ocean
============================================================================================================

*/

$logo-height: rem(340px);
$logo-tagline: #{$logo-height + rem(90px)};

.kid_cudi-sm {
  display: none;
}

.kid_cudi {
  position: absolute;
  top: calc(100% - 90px);
  height: rem(90px);
  right: 0;
  border-radius: 6px 0 0 0;
  z-index: 60 !important;
}

.kid_cudi span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 40px !important;
}

.kid_cudi .toggle_wrapper {
  height: 40px !important;
}

.toggle_dot {
  box-shadow: rem(3px) rem(8px) rem(12px) hsla(0, 0%, 0%, 0.65);
  cursor: pointer;
}

.toggle_dot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 0.45) 20%,
    rgba(255, 255, 255, 0) 80%
  ) !important;
  mix-blend-mode: hard-light;
  z-index: 999;
  border-radius: 50%;
  border: 0.15em solid hsla(0, 0%, 100%, 0.45);
}

.tatwc-logo-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: rem(-50px) !important;
  z-index: 100;
}

.tatwc-logo-min {
  z-index: 60;
}

.video-container {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  margin-top: -#{$nav-height};
  overflow: hidden !important;
  z-index: 1 !important;
}

.video-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 2.5%,
    rgba(0, 0, 0, 0) 40%
  ) !important;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80 !important;
}

.video-container::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.9) 80%
  ) !important;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30 !important;
}

.beach-vid {
  position: relative;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1 !important;
}

.beach-vid_min {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -90px;
  height: 800px;
  max-height: none;
  background: url("../img/backscrshot.webp");
  background-size: cover;
  background-position: 0 24%;
  z-index: 40 !important;
  overflow: hidden;
}

.beach-vid_min::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 7.5%,
    rgba(0, 0, 0, 0) 50%
  ) !important;
  mix-blend-mode: multiply;
  width: 100%;
  height: 850px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50 !important;
}

.beach-vid_min::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.75) 85%
  ) !important;
  mix-blend-mode: multiply;
  width: 100%;
  height: 850px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50 !important;
}

.video-container,
.video-container::after,
.beach-vid {
  min-height: rem(720px);
}

.scrl-dwn {
  position: relative;
  top: rem(-250px);
  margin: 0 auto;
  text-align: center;
  width: rem(120px);
  height: rem(90px);
  z-index: 10 !important;
  @include transition($time-xl);
}

.scrl-dwn svg {
  width: rem(40px);
}

.scrl-dwn label {
  margin-top: rem(15px);
}

/*

============================================================================================================
  Company_info
============================================================================================================

*/

$tag-xl: 85px;
$tag_line-xl: rem($tag-xl);

.tatwc-title {
  height: $tag_line-xl;
}

.tatwc-tagline {
  background: linear-gradient(140deg, lighten($dark_leaf, 20), $dark_leaf 100%);
}

.tatwc-tagline_dark {
  background: linear-gradient(
    140deg,
    $dark_leaf,
    darken($dark_leaf, 15) 100%
  ) !important;
}

.tatwc-tagline,
.tatwc-chunk-title {
  border-radius: rem(8px) rem(8px) 0 0;
  text-align: center;
}

.gls-title h1 {
  text-shadow: none !important;
}

$tagline-bugfix: -5px;

.tatwc-tagline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $tag_line-xl;
  margin: -$tag-xl auto 0;
  opacity: 0.96;
  z-index: 600;
}

.tatwc-tagline_intro {
  margin: -#{$tag-xl * 2} auto $tagline-bugfix;
  top: $tagline-bugfix;
}

.tatwc-tagline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(5px);
  border-radius: rem(8px) rem(8px) 0 0;
  background: linear-gradient(
    -60deg,
    rgba(255, 255, 255, 0.05) 20%,
    rgba(255, 255, 255, 0.5) 80%
  ) !important;
  filter: blur(1px);
}

.tatwc-tagline-about {
  margin-top: -#{$tag-xl};
  top: 0;
  margin-bottom: 0;
}

.tatwc-intro {
  height: auto;
  @include chunk;
}

.tatwc-copy {
  text-align: justify;
}

$dotted-border: 5px dotted rgba(0, 0, 0, 0.1);

.quote {
  margin: rem(40px) auto;
}

.tatwc-quote {
  padding: 0 rem(40px);
}

.tatwc-quote,
.tatwc-quote-by {
  text-align: center;
  line-height: rem(30px);
}

.tatwc-quote::before,
.tatwc-quote::after {
  font-family: serif;
  font-style: normal;
}

.tatwc-quote::before {
  content: "\201C";
}

.tatwc-quote::after {
  content: "\201D";
}

.tatwc-fb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fb-page {
  display: flex !important;
  justify-content: center !important;
  text-align: center;
}

$fb-border: 1px solid rgba(0, 48, 126, 0.2);

.fb-logo-wrapper {
  text-align: center;
}

.fb-logo-wrapper img {
  width: rem(120px);
}

.tatwc-about-title {
  position: relative;
  opacity: 0.98;
  z-index: 700 !important;
}

/*

============================================================================================================
  About_Page
============================================================================================================

*/

.tatwc-cathy {
  display: inline-block;
  text-align: center;
}

$cathy_profile-padding: rem(30px);

.tatwc-cathy img {
  width: 240px;
  padding-bottom: $cathy_profile-padding;
}

.tatwc-cathy p {
  line-height: rem(28px);
  text-align: center;
}

.tatwc-cathy-ext {
  text-align: justify;
}

.tatwc-line {
  text-transform: capitalize;
}

/*

============================================================================================================
  Partners_Page
============================================================================================================

*/

.nawiri_logo {
  max-height: 200px;
  font-family: "Poppins", sans-serif !important;
}

.bluxury_logo {
  max-height: 200px;
  font-family: "Poppins", sans-serif !important;
}

/*

============================================================================================================
  Services_Page
============================================================================================================

*/

/*

============================================================================================================
  Microsoft_Booking
============================================================================================================

*/

.tatwc-ms_booking iframe {
  min-height: 800px !important;
}

.tatwc-pymnt {
  padding-top: rem(15px) !important;
}

.payment-input {
  margin-bottom: 0 !important;
}

.pymnt_dialog {
  position: fixed;
  z-index: 9999;
}

.pymnt_dialog,
.pymnt_bg,
.pymnt_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pymnt_bg {
  position: fixed;
  background: hsla(0, 0%, 0%, 0.75);
  z-index: 9997;
}

.pymnt_wrap {
  z-index: 9998;
}

.pymnt_pu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  background: hsl(0, 100%, 30%);
  z-index: 9999;
}

.pymnt_inf {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff !important;
  text-align: center;
}

.pymnt_copy {
  border-radius: 0 !important;
}

.pymnt_inf-header {
  background: hsl(0, 100%, 8%);
  width: rem(450px);
  border-radius: 8px 8px 0 0;
  padding: rem(35px) 0 rem(27px);
}

.pymnt_inf button {
  // text-transform: uppercase;
  width: 70%;
  margin: 0 auto;
  background: hsl(0, 100%, 15%);
}

.pymnt_inf button:hover {
  background: hsl(0, 100%, 10%);
}

/*

============================================================================================================
  Payments
============================================================================================================

*/

.actn-complete {
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px 6px 0 0;
  padding: 30px 50px 0;
  line-height: 2rem;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  font-family: "Josefin Sans", sans-serif !important;
}

.actn-complete p {
  color: rgba(77, 77, 77, 0.9);
  font-family: "Josefin Sans", sans-serif !important;
}

.pymnt-wndw {
  background: #fff;
  padding: 10px 20px;
}

.ldn-wait {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 600ms ease-in-out;
  text-align: center;
  z-index: 999;
}

.pulse {
  -webkit-animation: pulsate 1200ms ease-in-out infinite alternate;
  -moz-animation: pulsate 1200ms ease-in-out infinite alternate;
  animation: pulsate 1200ms ease-in-out infinite alternate;
}

.pymnt-wndw {
  padding: rem(20px) rem(25px);
  border-radius: rem(12px);
}

/*

============================================================================================================
  Messaging
============================================================================================================

*/

.tatwc-msg {
  height: auto;
  @include chunk;
}

.tatwc-cntct-inf {
  text-align: center !important;
}

.enq-trigger {
  padding-bottom: rem(5px);
  cursor: pointer;
}

.almnd-msg textarea {
  min-height: rem(200px);
}

.phone-form {
  margin-bottom: 0 !important;
}

.captcha_wrap {
  display: flex;
  justify-content: center;
}

.recaptcha-bar {
  text-align: center;
}

.g-recaptcha {
  display: inline-block;
}

.snd-btn-fail,
.snd-btn-success {
  display: none !important;
}

.snd-state-on {
  display: block !important;
}

.snd-state-off {
  display: none !important;
}

.snd-btn-success {
  pointer-events: none;
  background: rgba(52, 165, 0, 0.95);
  color: white !important;
  cursor: not-allowed;
}

.snd-btn-success:hover {
  transform: scale(1);
  cursor: not-allowed;
  font-weight: 400;
  color: white !important;
}

.snd-btn-fail {
  background: #ac0000;
  @include transition($time-m);
}

.snd-btn-fail:hover {
  background: rgba(99, 0, 0, 0.95);
}

.snd-btn-fail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  @include snd-fail_animate;
}

.snd-btn-fail:hover::before {
  opacity: 1;
  @include snd-fail_animate;
}

.pulse {
  -webkit-animation: pulsate 600ms ease-in-out infinite alternate;
  -moz-animation: pulsate 600ms ease-in-out infinite alternate;
  animation: pulsate 600ms ease-in-out infinite alternate;
}

.shake-no {
  -webkit-animation: harlemshake 600ms linear;
  -moz-animation: harlemshake 600ms linear;
  animation: harlemshake 600ms linear;
}

.icon-state {
  position: absolute;
  top: rem(20px);
  height: 100%;
}

.icon-state,
.lds-ellipsis {
  right: rem(100px);
}

.btn-lbl {
  height: 100%;
}

.lds-ellipsis {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  right: 50px;
  width: rem(100px);
  margin-left: rem(-100px);
  height: 100%;
  opacity: 0;
}

.lds-ellipsis-active {
  opacity: 1 !important;
  z-index: 300;
}

.lds-ellipsis div {
  position: absolute;
  margin-left: rem(30px);
  width: rem(5px);
  height: rem(5px);
  border-radius: 50%;
  background: #e8f4fd;
  opacity: 1;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: rem(2px);
  animation: lds-ellipsis1 800ms infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: rem(2px);
  animation: lds-ellipsis2 800ms infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: rem(22px);
  animation: lds-ellipsis2 800ms infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: rem(40px);
  animation: lds-ellipsis3 800ms infinite;
}

.spinnit {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.snd-btn-change {
  display: block !important;
}

.no-fx {
  filter: none !important;
}

$ftr-border: 1px solid rgba(0, 0, 0, 0.2);

.social-links {
  display: flex;
  justify-content: flex-end;
}

.tatwc-msg .social-links {
  justify-content: center;
}

.social-links i {
  @include transition($time-m);
}

.social-links .fa-tatwc-last,
.social-links .fa-msg-last {
  border-right: 0;
}

.social-links i:hover {
  @include transition($time-m);
}

/*

============================================================================================================
 Copyright
============================================================================================================

*/

.tatwc-footer {
  @include chunk;
  height: auto !important;
}

.tatwc-footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(3px);
  background: linear-gradient(
    -60deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.7) 65%
  ) !important;
  filter: blur(1px);
  opacity: 0.35;
}

.ftr-chunk {
  padding-top: rem(40px);
}

.tatwc-logo-footer {
  width: rem(210px);
  height: rem(120px);
}

.almnd_txt {
  display: block;
  width: 100%;
}

.almnd_txt_ctr {
  display: none;
}

.tatwc-footer .rightie {
  text-align: right;
}

.time-dist {
  opacity: 0.7;
}

.linchpin {
  text-align: center;
  opacity: 0.75;
}

$linchpin-border: 1px solid rgba(0, 96, 250, 0.5);
$linchpin-color: rgb(0, 132, 255);

.linchpin a {
  color: $linchpin-color;
  border-top: $linchpin-border;
  border-bottom: $linchpin-border;
  text-decoration: none !important;
  @include transition($time-m);
}

.linchpin a:hover {
  background: $linchpin-color;
  color: #fff;
}

/*

============================================================================================================
 Responsiveness
============================================================================================================

*/

@media (max-width: 1500px) {
  .scrl-dwn {
    top: rem(-190px);
    width: rem(120px);
    height: rem(90px);
  }

  .scrl-dwn svg {
    width: rem(30px);
  }

  .toggle_dot {
    box-shadow: rem(2px) rem(6px) rem(10px) hsla(0, 0%, 0%, 0.65);
    cursor: pointer;
  }

  .toggle_dot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      110deg,
      rgba(0, 0, 0, 0.45) 20%,
      rgba(255, 255, 255, 0) 80%
    ) !important;
    mix-blend-mode: hard-light;
    z-index: 999;
    border-radius: 50%;
    border: 0.08em solid hsla(0, 0%, 100%, 0.45);
  }

  $tag-lg: 80px;
  $tag_line-lg: rem($tag-lg);

  .tatwc-title {
    height: $tag_line-lg;
  }

  $tagline-bugfix_lg: -10px;

  .tatwc-tagline {
    height: $tag_line-lg;
    margin: -$tag-lg auto 0;
  }

  .tatwc-tagline_intro {
    height: $tag_line-lg;
    margin: -#{$tag-lg * 2} auto $tagline-bugfix_lg;
    top: $tagline-bugfix_lg;
  }

  .fb-logo-wrapper img {
    width: rem(100px);
  }

  .tatwc-logo-footer {
    height: rem(100px);
  }

  .modal-dialog {
    max-width: rem(600px) !important;
    opacity: 1 !important;
  }

  .modal-body {
    height: rem(380px);
    padding: rem(20px) rem(40px) !important;
  }

  .modal-header {
    padding: rem(30px) rem(30px) rem(25px) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
  }

  $bookings_height_lg: 680px;

  .booking_box {
    height: $bookings_height_lg;
  }

  .ms-wrapper {
    height: $bookings_height_lg;
    border-radius: 10px;
  }

  .ms-booking iframe {
    width: 100%;
    height: $bookings_height_lg;
  }
}

/*--------------------------------------------------------------------------*/

@media (max-width: 1400px) {
  .actn-complete {
    margin-top: 40px;
  }
}

/*--------------------------------------------------------------------------*/

@media (max-width: 1280px) {
  $nav-padding_lg: 25px;
  $nav-height_lg: #{$nav-padding_lg * 2 - 5px};

  .tatwc-nav {
    z-index: 50;
    height: auto;
    padding: 0 $nav-padding_lg !important;
  }

  .tatwc-nav_dark {
    z-index: 50;
    text-transform: uppercase;
    position: relative;
    height: auto;
    padding: 0 $nav-padding_lg !important;
  }

  .tatwc-nav li a {
    padding: rem(25px) rem(40px);
  }

  .tatwc-nav_dark li a {
    padding: rem(25px) rem(40px);
  }
}

@media (max-width: 1200px) {
  .tatwc-logo-footer {
    height: rem(120px);
  } 
}

/*--------------------------------------------------------------------------*/

@media (max-width: 1080px) {
  .cookieinfo {
    // padding-top: 20px !important;
    align-items: center !important;
    opacity: 0.97;
    font-size: rem(12px);
    line-height: rem(18px) !important;
  }

  .cookieinfo-close {
    font-size: rem(12px);
    text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.45);
    text-transform: uppercase;
    padding: rem(10px) rem(10px) !important;
    letter-spacing: 0.05em;
  }

  .ptn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(60px);
    background: url("../img/ptn-sm.webp");
    mix-blend-mode: overlay;
    z-index: 10;
    opacity: 0.55;
  }

  $nav-padding_1024: 20px;
  $nav-height_1024: #{$nav-padding_1024 * 2 - 5px};

  .tatwc-nav {
    z-index: 50;
    text-transform: uppercase;
    position: relative;
    height: auto;
    color: rgba(255, 255, 255, 0.55);
    padding: 0 $nav-padding_1024 !important;
  }

  .tatwc-nav_dark {
    z-index: 50;
    text-transform: uppercase;
    position: relative;
    height: auto;
    padding: 0 $nav-padding_1024 !important;
  }

  .tatwc-nav li a {
    padding: rem(25px) rem(40px);
  }

  .tatwc-nav_dark li a {
    padding: rem(25px) rem(40px);
  }

  .scrl-dwn svg {
    width: rem(25px);
  }

  .scrl-dwn label {
    margin-top: rem(15px);
  }

  $tag-1024: 70px;
  $tag_line-1024: rem($tag-1024);

  .tatwc-title {
    height: $tag_line-1024;
  }

  $tagline-bugfix_1024: -20px;

  .tatwc-tagline {
    height: $tag_line-1024;
    margin: -$tag-1024 auto 0;
    // top: $tagline-bugfix_1024;
  } 

  .tatwc-tagline_intro {
    height: $tag_line-1024;
    margin: -#{$tag-1024 * 2} auto $tagline-bugfix_1024;
    top: $tagline-bugfix_1024;
  }

  .fb-logo-wrapper img { 
    width: rem(80px);
  }

  .tatwc-logo-footer {
    height: rem(90px);
  } 

  .almnd_txt {
    display: block;
    width: 77.5%;
  }
}

@media (max-width: 980px) {
  .tatwc-nav {
    background: linear-gradient(
      140deg,
      lighten($dark_leaf, 20),
      $dark_leaf 100%
    );
  }

  .tatwc-nav_dark {
    background: linear-gradient(
      140deg,
      darken($dark_leaf, 10),
      darken($dark_leaf, 15) 100%
    );
  }

  .tatwc-menu-items {
    letter-spacing: 0.15em;
  }

  .video-container {
    height: calc(100vh - 80px);
  }

  .video-container::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.95) 7.5%,
      rgba(0, 0, 0, 0) 60%
    ) !important;
  }
  .video-container::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.75) 80%
    ) !important;
  }

  .kid_cudi-xl {
    display: none;
  }

  .kid_cudi {
    position: absolute;
    top: calc(100% - 80px);
    height: rem(90px);
    right: 0;
  }

  .kid_cudi-sm {
    display: block;
  }

  .almnd_txt {
    display: block;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .cookieinfo {
    // padding-top: 20px !important;
    align-items: center !important;
    font-size: rem(12px) !important;
    line-height: rem(16px) !important;
  }

  .cookieinfo-close {
    font-size: rem(11px);
    padding: rem(10px) rem(15px) !important;
    // letter-spacing: 0.05em;
  }

  .tatwc-logo-footer {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: rem(120px);
    width: rem(180px);
    margin: 0;
  }

  .icon-state {
    display: none;
  }

  .lds-ellipsis {
    position: absolute;
    top: -1px;
    right: 0;
  }

  .lds-ellipsis div {
    margin-left: rem(24px);
    width: rem(4px);
    height: rem(4px);
  }

  .lds-ellipsis div:nth-child(1) {
    left: rem(0px);
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(14px, 0);
    }
  }

  .lds-ellipsis div:nth-child(2) {
    left: rem(0px);
  }

  .lds-ellipsis div:nth-child(3) {
    left: rem(14px);
  }

  .lds-ellipsis div:nth-child(4) {
    left: rem(14px);
  }
}

@media (max-width: 640px) {
  .cookieinfo {
    // padding-top: 20px !important;
    align-items: center !important;
    font-size: rem(11px) !important;
    line-height: rem(16px) !important;
  }

  .cookieinfo-close {
    font-size: rem(11px);
    padding: rem(10px) rem(10px) !important;
    letter-spacing: 0.05em;
  }

  .modal-content {
    padding: 0;
    border-radius: 0 !important;
  }

  .modal-header {
    padding: rem(30px) rem(30px) rem(25px) !important;
    border-radius: 0;
  }

  .modal-body {
    height: rem(420px);
    padding: rem(15px) rem(30px) !important;
    box-shadow: inset 0 -12px 27px hsla(0, 0%, 0%, 0.15);
  }
  .modal-footer {
    padding-bottom: 5px !important;
    border-radius: 0 !important;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff !important;
    padding: rem(15px) rem(20px) !important;
    border-radius: 50%;
    z-index: 999;
  }

  .btn-consent {
    border-radius: 0 !important;
  }

  .tatwc-logo-wrapper img {
    height: rem(180px);
  }

  .hb_label {
    font-size: rem(12px);
  }

  .pymnt_inf-header {
    // background: darken($close_colour, 15);
    width: rem(360px);
  }

  .tatwc-logo-footer {
    display: flex;
    justify-content: center;
    position: relative;
    height: rem(160px);
    width: rem(200px);
    margin: 0 auto;
  }

  .almnd_txt {
    display: none;
  }

  .almnd_txt_ctr {
    display: block;
    width: 80%;
  }

  .social-links {
    display: flex;
    justify-content: center;
  }
}
